
                <div style="background-color: #e6e6e6; font-family: Helvetica;
                    max-width: 1000px; padding: 10px;   margin: auto;
                    padding: 10px; box-shadow: 2px 2px 4px 4px #4d4d4d; color: #4d4d4d">
                    
            <div style="text-align: center"><h1>Echoes in Monochrome</h1></div>
        
                    <div style="font-size: 20px; text-align: center;">
            <p>In a world painted in shades of gray, a lone figure discovers the power of expression. Each movement, a brushstroke on the canvas of life, reveals the vibrant colors hidden beneath the surface.</p>

        </div>
                    


            <div style="height: 10px"></div>
            <div style="background-color: #e6e6e6;  margin: auto; box-shadow: 2px 2px 3px 3px #4d4d4d; border-radius: 25px;">
                <table style="margin: auto; color: #4d4d4d; table-layout: fixed; width: 980px; height: 300px; padding: 0px 0px 0px 0px; margin-right: 0px;">
                <tr style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
                <td><div style="line-height: 1.3; text-align: right; font-size: 20px; margin-right: 16px;">The old theater stood silent, a monument of grayscale. Inside, Elara, a woman with eyes that held a thousand untold stories, found solace. She moved with a quiet grace, each step echoing in the empty space. Her dance was not for an audience, but for the rhythm of her own heart.</div></td>
                <td style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"><img src="../static\images\part_1.png" style="display:block; height: 300px; border-radius: 0px 24px 24px 0px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;" width="100%" ></td>
                
                </tr>
                </table>
            </div>

            

            <div style="height: 10px"></div>
            <div style="background-color: #e6e6e6;  margin: auto; box-shadow: 2px 2px 3px 3px #4d4d4d; border-radius: 25px;">
                <table style="margin: auto; color: #4d4d4d; table-layout: fixed; width: 980px; height: 300px; padding: 0px 0px 0px 0px; margin-left: 0px;">
                <tr style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
                <td style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"><img src="../static\images\part_2.png" style="display:block; height: 300px; border-radius: 24px 0px 0px 24px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;" width="100%" ></td>
                <td><div style="line-height: 1.3; text-align: left; font-size: 20px; margin-left: 16px;">As Elara moved, her world began to shift. The gray deepened, then softened, revealing the subtle shades within. She realized that the true colors were not in the paint, but in the passion behind each gesture. Her song was a silent melody, a testament to the vibrant life she carried within.</div></td>
        
                </tr>
                </table>
            </div>
            
                </div>
        